#github_ribbon img{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}
